// FOOTER PAGE STYLING

$a: #262626;
$b: #ACBFA4;
$c: #f5f5f5;
$d: #FF7F11;

// DEFAULT FONTS

$primaryfont: 'system-ui';

footer {
    background: linear-gradient($c, $b);
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 40px;

    .bottom {
        width: 90%;
        display: flex;
        gap: 40px;
        font-family: $primaryfont;
        margin-bottom: 40px;

        .bottomleft {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .hiremeHead {
                font-size: 6vw;
                font-weight: 500;
            }

            .hiremeDesc {
                font-size: larger;
                font-family: 'Microsoft New Tai Lue';
            }
        }

        .bottomright {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .connectHead {
                font-size: 6vw;
                font-weight: 500;
            }

            .connectLogo {
                flex: 100%;
                display: flex;
                justify-content: space-between;


                img {
                    height: 60px;
                    width: 60px;
                }

                img:hover{
                    transform: scale(1.04);
                    transition: 0.4s linear;
                }
            }

            .copyright {
                font-size: 14px;
            }

            .tagline{
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    #btm{
        flex-direction: column;
    }

    #hrmdsk{
        font-size: 14px;
    }

    #btmrght{
        .copyright{
            font-size: 12px;
        }
        
        .tagline{
            font-size: 12px;
        }
    }

    #contlgo{
        img {
            height: 50px;
            width: 50px;
        }
    }
}
