// EXPERTISE SECTION STYLING

$a: #262626;
$b: #ACBFA4;
$c: #f5f5f5;
$d: #FF7F11;

// DEFAULT FONTS

$primaryfont: 'Tw Cen MT';

.projectsSection{
    width: auto;
    background: $c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projectsHead{
        font-size: 80px;
        font-family: $primaryfont;
        font-weight: 500;
    }

    .projectsGrid{
        padding: 20px;
        width: fit-content;
        display: grid;
        grid-template-columns: 500px 500px;
        column-gap: 40px;
        justify-content: center;
        align-items: center;
        row-gap: 20px;

        .projectCard{
            background: linear-gradient($c, $b);
            backdrop-filter: blur(40px);
            width: fit-content;
            height: fit-content;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-shadow: 6px 6px 6px gray;

            .projectImage{
                width: 460px;
                height: 240px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .projectName{
                font-family: $primaryfont;
                font-size: 22px;
                font-weight: bold;
            }

            .projectAction{
                width: auto;
                display: flex;
                justify-content: space-between;

                a{
                    text-decoration: none;
                    color: black;
                    background-color: $d;
                    border: none;
                    border-radius: 10px;                                                      
                    padding: 10px 20px;
                    font-family: $primaryfont;
                    font-size: 18px;
                    font-weight: bold;
                }

                a:hover{
                    background-color: #e86c00;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px){
    #prjcthd{
        font-size: 70px;
    }

    #prjctgrd{
        grid-template-columns: 500px;
    }
}

@media only screen and (max-width: 540px){

    #prjcthd{
        font-size: 50px;
    }

    #prjctgrd{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    #prjctimg{
        width: fit-content;
        height: 200px;
    }
    
}

@media only screen and (max-width: 400px){

    #prjcthd{
        font-size: 40px;
    }

    #prjctnme{
        font-size: 20px;
    }

    #vwprjctbtn{
        padding: 6px 8px;
        font-size: 14px;
        border-radius: 6px;
    }

    #vwcdbtn{
        padding: 6px 8px;
        font-size: 14px;
        border-radius: 6px;
    }
}