// DEFAULT FONTS

$primaryfont: 'Encode Sans', sans-serif;

.projectsSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: $primaryfont;
    padding: 20px 0;
    background-color: white;

    .projectsHead{
        display: flex;
        align-items: center;
        width: 90%;
        font-size: 45px;
        font-weight: bolder;

        span{
            background-color: black;
            width: 100px;
            height: 3px;
            margin-right: 10px;
        }
        
    }

    .projectsGrid{
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding: 20px 0;

        .projectCard{
            display: flex;
            gap: 50px;

            .projectImage{

                img{
                    width: 540px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            

            .projectAbout{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .projectType{
                    width: fit-content;
                    background-color: rgb(221, 221, 221);
                    border-radius: 20px;
                    padding: 4px 10px;
                    font-size: 14px;
                }

                .projectName{
                    font-family: $primaryfont;
                    font-size: 40px;
                    font-weight: bolder;
                }

                .projectDescrip{
                    font-size: 16px;
                    line-height: 20px;
                }

                .projectActions{
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;

                    a{
                        text-decoration: none;
                        color: white;
                        background-color: rgb(55, 55, 55);
                        border: none;
                        border-radius: 20px;                                                      
                        padding: 8px 16px;
                        font-family: $primaryfont;
                        font-size: 16px;
                    }
                    a:hover{
                        background-color: rgb(255, 130, 20);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){

    #prjcthd{
        span{
            width: 60px;
        }

        font-size: 40px;
    }
    
    #prjctcrd{
        flex-direction: column;
        gap: 20px;
    }

    #prjctimg{
        img{
            width: 100%;
            height: 102%;
        }
    }

    #prjctnme{
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px){
    #prjcthd{
        span{
            width: 50px;
        }

        font-size: 30px;
        
    }

    #prjctnme{
        font-size: 20px;
    }

    #prjctdcrp{
        font-size: 14px;
    }

    #vwbtn{
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px){
    #prjcthd{
        span{
            width: 40px;
            height: 2px;
        }

        font-size: 24px;
    }

    #prjctnme{
        font-size: 18px;
    }

    #prjctdcrp{
        font-size: 12px;
    }

    #vwbtn{
        font-size: 12px;
    }
}

