// CONTACT ME SECTION STYLING

$a: #262626;
$b: #ACBFA4;
$c: #f5f5f5;
$d: #FF7F11;

// DEFAULT FONTS

$primaryfont: 'Tw Cen MT';

.contactMeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c;

    .contactMe{
        background: linear-gradient($c, $b);
        width: 70%;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        box-shadow: 6px 6px 6px gray;
        opacity: 0;
        font-family: $primaryfont;
    
        .contactMeHeading{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .contactMeHead{
                font-size: 8vw;
            }
    
            .contactMeDescrip{
                font-size: 2.5vw;
            }
        }
    
        .contactMeForm{
            width: 96%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $c;
            padding: 20px;
            border-radius: 10px;
    
            .contactMeFormTop{
                width: 100%;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
    
                .contactMeFormRight{
                    width: 40%;
                    height: 300px;
                    display: grid;
                    padding: 4px;
    
                    .formInputDiv{
                        display: grid;
                        gap: 10px;
    
                        label{
                            font-size: 24px;
                        }
    
                        input{
                            border: none;
                            border-radius: 8px;
                            outline: 2px solid #d9d9d9;
                            height: 30px;
                            width: 96%;
                            font-family: $primaryfont;
                            font-size: 16px;
                            padding: 4px;
                        }
                        
                        input:focus{
                            outline: 2px solid $b;
                        }
                    }
    
                }
    
                .contactMeFormLeft{
                    width: 60%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    padding: 4px;
    
                    .rightInput{
                        height: 100%;
                        display: grid;
    
                        label{
                            font-size: 24px;
                        }
    
                        textarea{
                            height: 225px;
                            width: 96%;
                            border: none;
                            border-radius: 8px;
                            outline: 2px solid #d9d9d9;
                            font-size: 16px;
                            padding: 4px;
                            font-family: $primaryfont;
                            resize: none;
                        }
    
                        textarea:focus{
                            outline: 2px solid $b;
                        }
                    }
                }
            }
    
            .contactMeFormBottom{
                width: 100%;
                display: grid;
                align-items: center;
                justify-content: center;
    
                button{
                    background-color: $d;
                    border: none;
                    border-radius: 8px;
                    font-family: $primaryfont;
                    font-size: 18px;
                    padding: 6px;
                }
            }
        }
    }
    
    .contactMeAnimate{
        opacity: 1;
        transition: 1s ease-in-out;
    }
}

