@import '../../variables';

.loading {
    background-color: whitesmoke;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .tagline{
        color: black;
        width: 125px;
        text-align: center;
        font-family: $hindifont;
        font-weight: 600;
    }

    .progressBar{
        display: flex;

        span{
            width: 120px;
            height: 1px;
            background-color: rgb(149, 149, 149);
            animation: progress 2s ease-in-out 0s normal 1 forwards;
            border-radius: 20px;

            @keyframes progress {
                0%{
                    width: 0;
                }
                20%{
                    width: 20px;
                }
                40%{
                    width: 50px;
                }
                60%{
                    width: 75px;
                }
                80%{
                    width: 100px;
                }
                100%{
                    width: 120px;
                }
                
            }
        }
    }
}