// WELCOME SECTION STYLING

$a: #262626;
$b: #ACBFA4;
$c: #f5f5f5;
$d: #FF7F11;

// DEFAULT FONTS

$primaryfont: 'Tw Cen MT';

.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: $primaryfont;
    background: linear-gradient($b, $c);
    margin-top: 100px;

    .headermid {
        width: 90%;
        display: flex;
        gap: 20px;
        padding: 0;

        .midleft {
            padding:0;
            flex: 60%;
            display: grid;
            gap: 20px;

            .mlhead {
                font-size: 7vw;
                font-weight: bolder;
            }

            .professionTag{
                display: grid;
                align-items: center;
                margin-top: -10px;
                font-family: 'Microsoft New Tai Lue';
                font-size: 12px;
                font-weight: bolder;
                background-color: gray;
                width: 100px;
                padding: 2px;
                text-align: center;
                border-radius: 6px;
            }

            .mlmid {
                font-family: 'Microsoft New Tai Lue';
                font-size: 16px;
            }

            .mlfoot {
                button {
                    background-color: $d;
                    border: none;
                    font-family: $primaryfont;
                    font-size: 14px;
                    font-weight: bolder;
                    padding: 2px;
                    width: 60px;
                    height: 30px;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }
        }

        .midright {
            flex: 40%;
            display: grid;
            align-items: center;
            justify-content: right;

            img {
                height: 400px;
                width: 340;
                border-top-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    // WELCOME SECTION STYLING

    #hdrmd {
        flex-wrap: wrap;
        gap: 20px;

        #mdlft {
            flex: 100%;
            display: grid;
            gap: 20px;
            
            .mlhead{
                font-size: 14vw;
            }

            .mlmid{
                font-size: 14px;
            }

            .professionTag{
                font-size: 12px;
                width: 80px;
            }
        }

        #mdrght {

            img {
                height: 100%;
                width: 100%;
            }

        }
    }
}