
// DEFAULT FONTS

$primaryfont: 'Encode Sans', sans-serif;

.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: $primaryfont;
    margin-top: 70px;
    background-color: white;
    padding: 20px 0;

    .headermid {
        width: 90%;
        display: flex;
        gap: 20px;
        padding: 0;
        margin-bottom: 20px;

        .midleft {
            padding:0;
            flex: 60%;
            display: grid;
            gap: 10px;

            .mlhead {
                font-size: 80px;
                font-weight: bolder;
            }

            .mlmid {
                font-size: 16px;
            }
        }

        .midright {
            flex: 40%;
            display: grid;
            align-items: center;
            justify-content: right;

            img {
                height: 300px;
                width: 300px;
                border-top-left-radius: 40px;
                border-bottom-right-radius: 40px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    // WELCOME SECTION STYLING

    #hdrmd {

        #mdlft {
            padding:0;
            flex: 60%;
            display: grid;
            gap: 10px;
            
            .mlhead{
                font-size: 64px;
            }

            .mlmid{
                line-height: 25px;
            }
            
        }

        #mdrght {

            img {
                height: 260px;
                width: 260px;
            }

        }

        
    }
}

@media only screen and (max-width: 800px) {
    // WELCOME SECTION STYLING

    #hdrmd {
        flex-wrap: wrap;
        gap: 20px;

        #mdlft {
            flex: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .mlhead{
                flex: 100%;
                font-size: 50px;
            }

            .mlmid{
                width: 90%;
                font-size: 15px;
                line-height: 25px;
            }
        }

        #mdrght {

            img {
                height: 100%;
                width: 100%;
            }

        }
    }
}

@media only screen and (max-width: 400px) {
    #hdrmd {

        #mdlft {
            
            .mlhead{
                font-size: 46px;
            }
        }
    }
}

