@import '../../variables';

// DEFAULT FONTS

.welcomeSection {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $primaryfont;
    margin-top: 100px;
    padding: 40px 0;

    .greet {
        width: 60%;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(to left, #000000, #808080);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: transform 0.4s ease;
    }

    .basedIn {
        display: flex;
        gap: 10px;
        padding: 1.4rem 0.5rem;

        img {
            width: 20px;
            height: 20px;

            &:hover {
                transition: transform 0.4s ease;
                animation: popUp;

                @keyframes popUp {
                    from {
                        transform: scale(1);
                    }

                    to {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .place {
            font-size: 1rem;
            font-weight: bold;
            background: linear-gradient(to right, #444444, #808080);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .intro {
        width: 40%;
        text-align: center;
        font-size: 1.2rem;
        color: #444444;
        font-weight: 350;
    }
}

@media only screen and (max-width: 768px) {
    // WELCOME SECTION STYLING

    .welcomeSection {
        padding: 30px 0;

        .greet {
            width: 50%;
            font-size: 2.5rem;
        }

        .basedIn {

            img {
                width: 16px;
                height: 16px;
            }

            .place {
                font-size: 0.8rem;
            }
        }

        .intro {
            width: 70%;
            font-size: 1rem;
        }
    }

}

@media screen and (max-width: 480px) {
    // WELCOME SECTION STYLING

    .welcomeSection {

        .greet {
            width: 70%;
            font-size: 2rem;
        }
    }
    
}