@import '../../variables';

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .aboutMeSubContainer {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .profileSection {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 460px;
      margin-top: 40px;

      .midImg,
      .rightImg {
        position: absolute;
        width: 280px;
        height: 380px;
        border-radius: 40px;
        transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
        z-index: 1;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 24px #bababa;
        }
      }

      .midImg {
        margin-left: -220px;
      }

      .rightImg {
        width: 380px;
        height: 280px;
        margin-left: 200px;
        margin-top: -260px;
        z-index: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
      }
    }

    .detailSection {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 2rem;
        font-weight: bold;
        background: linear-gradient(to left, #f12711, #f5af19);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;

        #lnk {
          padding: 0rem 0.2rem;

          text-decoration: none;
          color: black;
          font-weight: 500;
          transition: all 0.4s ease; /* Simplify the transition property */
        
          &:hover {
            border-radius: 6px;
            background: linear-gradient(to right, rgb(180, 180, 180), rgba(245, 245, 245));
          }
        }
        
      }
    }
  }
}

/* Media Queries */

@media screen and (max-width: 1240px) {
  .aboutMeContainer {
    .aboutMeSubContainer {
      width: 60%;

      .profileSection {

        .midImg,
        .rightImg {
          width: 220px;
          height: 340px;
        }

        .rightImg {
          width: 340px;
          height: 260px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutMeContainer {
    .aboutMeSubContainer {
      width: 80%;

      .profileSection {
        height: 300px;

        .midImg,
        .rightImg {
          width: 180px;
          height: 240px;
          margin-left: -140px;
        }

        .rightImg {
          width: 240px;
          height: 200px;
          margin-left: 50px;
          margin-top: -200px;
        }

        .detailSection {
          background-color: saddlebrown;
          h1 {
            font-size: 1.5rem;
          }
  
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}