.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: +10;
    background-color: white;

    .navbarContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navLeft {
            display: flex;
            flex-direction: column;

            .name {
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                text-decoration: none;
                color: black;
            }

            .profession {
                font-size: 14px;
            }
        }

        .navRight {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            a{
                text-decoration: none;
                color: black;

                img {
                    height: 42px;
                    width: 44px;
                }
    
                img:hover {
                    transform: scale(1.04);
                    transition: 0.4s linear;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    // NAVIGATION BAR STYLING

    #lgo {
        font-size: 18px;
    }

    #prfsntg {
        font-size: 12px;
    }

    #cnctlgo {
        width: 40px;
        height: 40px;
    }

}