.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: transparent;

  .navbarContainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .navMid {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: rgba(255, 255, 255);
      background: linear-gradient(to right, rgba(252, 252, 252, 0.8), rgba(245, 245, 245, 0.8));
      backdrop-filter: blur(10px);
      padding: 0.3rem;
      border-radius: 50px;
      transition: transform 0.4s ease;

      .option {
        border-radius: 50px;
        padding: 0.6rem;
        transition: transform 0.8s ease;

        .link {
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          font-weight: light;
          background: linear-gradient(to left, #000000, #808080);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .active {
        background-color: white;
        border-radius: 50px;
        font-weight: bold;
      }
    }
  }
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .navbarContainer {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .navigation{
  }
  
}