$a: #262626;
$b: #acbfa4;
$c: #f5f5f5;
$d: #FF7F11;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// DEFAULT FONTS

$primaryfont: "Lexend", serif;
$hindifont: "Noto Sans", sans-serif;