$a: #262626;
$b: #acbfa4;
$c: #f5f5f5;
$d: #FF7F11;



@font-face {
    font-family: 'Sujeta';
    src: url('./fonts/Sujeta.ttf') format("opentype");
}

// DEFAULT FONTS

$primaryfont: 'Tw Cen MT';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient($b, $c);
    scroll-behavior: smooth;

    .app {
        width: 100%;
        scroll-behavior: smooth;
    }
}

