$a: #262626;
$b: #acbfa4;
$c: #f5f5f5;
$d: #FF7F11;



@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Pirata+One&display=swap');

// DEFAULT FONTS

$primaryfont: 'Encode Sans', sans-serif;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(252, 252, 252);
    scroll-behavior: smooth;

    .app {
        width: 100%;
        scroll-behavior: smooth;
        font-family: $primaryfont;
        position: relative;
    }
}

